// Specific CSS for your home-page

.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 100px;
  }

  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    padding-bottom: 50px;
  }

.banner form {
    background: white;
    width: 85vw;
  display: flex;
  justify-content: center;
  margin: 0;
  border-radius: 30px;
}
.banner input {
    border: 0px;
}
.banner label {
    border-right: 1px solid grey;
    padding-left: 10px;
}

footer {
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343A40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    color: white;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: white;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }

