.container {
width: 600px;
height: 700px;
border: 0.7rem solid;
border: lightgray;
display: flex;
flex-direction: column;
justify-content: center;
}

.container h2 {
  font-size: 24px;
  padding: 10px 0;
}