<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>-->

    <button class="btn btn-outline-light my-2 my-sm-0">Sign up</button>
    <button class="btn btn-outline-light my-2 my-sm-0">Log in</button>
   
  </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1474302770737-173ee21bab63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1564&q=80);">
  <div class="container text-center">
    <h1>Jetsetter</h1>
    <p>Live a high life</p>
  </div>


    <form class="form-inline" novalidate>
        <div class="form-row">
            <label for="validationCustom01">
                <div class="d-block">
                    <div class="d-block">Departure</div>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Departure" value="JFK" required>
                </div>
            </label>
            
            <label for="validationCustom02"
                <div class="d-block">
                    <div class="d-block">Arrival</div>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Arrival" value="MIA" required>
                </div>
            </label>

            <label for="validationCustomPassenger">
                <div class="d-block">
                    <div class="d-block">Passangers</div>
                    <input type="integer" class="form-control" id="validationCustomPassangers" placeholder="Passangers" aria-describedby="inputGroupPrepend" required>
                </div>
            </label>
        
            <label for="validationCustom05">
                <div class="d-block">
                    <div class="d-block">Start date</div>
                    <input type="datetime-local" class="form-control" id="validationCustom05" placeholder="Start Date" required>
                </div>
            </label>

            <label for="validationCustom05">
                <div class="d-block">
                    <div class="d-block">End date</div>
                    <input type="datetime-local" class="form-control" id="validationCustom05" placeholder="End Date" required>
                </div>
            </label>

            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>

<footer>
    <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>
